:root {
  --general-text: #312C27;
  --general-bg: #FFF9F4;
  --accent-bg: #FFE0CB;
  --accent-color: #FFA55C; 
  --accent-text: #1F1711;
  --hover-button: #ff9138;
  --general-footer: #ab8261;
  --transition: all .5s;
}

.body {
  font-family: 'Montserrat', 'Arial', sans-serif;
  line-height: 1.5;
  color: var(--general-text);
  background: var(--general-bg);
}

.body--opened-menu {
  overflow: hidden;
}

h1 {
  font-family: 'Gabriola', 'Arial', sans-serif;
  font-size: 74px;
  line-height: 0.82;
}

.button {
  display: block;
  text-align: center;
  background-color: var(--accent-color);
  padding: 18px 36px;
  border-radius: 60px;
}

.wparrep {
  min-height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.main {
  flex-grow: 1;
}

.container {
  max-width: 1310px;
  height: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

/* ================================== */

.header {
  background: url('../img/decor/bg-header.png') 50% 100% / cover no-repeat;
}

.header__top {
  padding-top: 15px;
}

.header__top-inner {
  display: flex;
  align-items: end;
  justify-content: space-between;
}

.header__logo {
  max-width: 174px;
  z-index: 6;
}

.header__logo img {
  width: 100%;
}

.nav__link {
  display: block;
  padding: 5px 0;
  position: relative;
  z-index: 1;
} 

.nav__link::before {
  content: '';
  position: absolute;
  background-color: var(--accent-color);
  border-radius: 50%;
  top: -8px;
  left: -13px;
  z-index: -1;
  width: 34px;
  height: 34px;
  opacity: 0;
  transition: var(--transition);
}

.nav__link:hover::before {
  opacity: 1;
}

.nav__list {
  display: flex;
  gap: 4vh 40px;
  padding-bottom: 3px;
}

.burger-icon {
  display: none;
  width: 50px;
  height: 50px;
  align-items: center;
  justify-content: center;
  z-index: 6;
}

.burger-icon span, 
.burger-icon span::before,
.burger-icon span::after {
  display: block;
  width: 30px;
  height: 3px;
  border-radius: 100px;
  background-color: var(--general-text);
  transition: all .3s;
}

.burger-icon span {
  position: relative;
} 

.burger-icon span::before,
.burger-icon span::after {
  content: '';
  position: absolute;
}

.burger-icon span::before {
  top: -8px;
}

.burger-icon span::after {
  bottom: -8px;
}

.body--opened-menu .burger-icon span {
  background-color: transparent;
}

.body--opened-menu .burger-icon span::before,
.body--opened-menu .burger-icon span::after {
  top: 0;
  bottom: 0;
}

.body--opened-menu .burger-icon span::before {
  transform: rotate(45deg);
}

.body--opened-menu .burger-icon span::after {
  transform: rotate(-45deg);
}

/* =================================== */

.hero {
  padding-top: 50px;
}

.hero__inner {
  display: flex;
  align-items: end;
  justify-content: space-between;
  padding-bottom: 140px;
  gap: 30px;
}

.hero__content {
  max-width: 520px;
}

.hero__content .hero__img-control {
  display: none;
}

.hero__date {
  --local-accent: #B197B3; 
  color: var(--local-accent);
  display: flex;
  align-items: center;
  gap: 10px;
}

.hero__date--uppercase {
  text-transform: uppercase;
}

.hero__date--cyrcle {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: var(--local-accent);
}

.hero__title {
  max-width: 519px;
  margin-top: 20px;
}

.hero__text {
  max-width: 358px;
  margin: 30px 0 40px;
}

.hero__button {
  max-width: 358px;
  transition: .5s;
}

.hero__button:hover {
  background-color: var(--hover-button);
}

.hero__img {
  position: relative;
  margin-right: 250px;
}

.hero__img>img {
  width: 100%;
}

.hero__img-control {
  position: absolute;
  left: calc(100% - 39px);
  bottom: 10%;
  display: flex;
  align-items: center;
  gap: 10px;
  max-width: 200px;
}

.hero__img-button {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  border-radius: 50%;
  width: 78px;
  height: 78px;
  box-shadow: 0px 4px 20px 0px rgba(184, 148, 126, 0.3);
  background: var(--accent-bg);
}

.hero__img-button img {
  padding-left: 8.8%;
}

.hero__img-button::before {
  content: '';
  position: absolute;
  border: 1px solid var(--accent-color);
  inset: 5px;
  border-radius: 50%;
  opacity: 0;
  transition: all .5s;
}

.hero__img-button:hover::before {
  opacity: 1;
}

/* =============================== */

.about {
  margin: 140px 0 140px;
  display: none;
}

.about__inner {
  display: flex;
  gap: 53px;
}

.about__img {
  max-width: 603px;
  max-height: 543px;
  position: relative;
  color: var(--general-bg);
}

.about__img>img {
  width: 100%;
}

.about__img-gift {
  position: absolute;
  bottom: 5%;
  left: 5%;
  max-width: 300px;
  background-color: rgba(149, 123, 151, 0.9);
  border-radius: 20px;
  padding: 15px 20px;
  display: grid;
  grid-template: 1fr / 78px 1fr;
  align-items: center;
  gap: 10px;
}

.gift--link {
  flex-shrink: 0;
  display: flex;
  width: 78px;
  height: 78px;
  border-radius: 50%;
  background-color: var(--general-bg);
  justify-content: center;
  align-items: center;
}

.gift--link img {
  width: 34px;
}

.about__info {
  max-width: 623px;
}

.about__description {
  margin: 30px 0 40px;
}

.about__cards {
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(2, 1fr);
  gap: 32px;
}

.about__card {
  max-width: 300px;
  display: grid;
  align-items: center;
  grid-template: 1fr / 60px 1fr;
  gap: 15px;
  background-color: var(--accent-bg);
  padding: 29px 25px;
  border-radius: 20px;
}

.about__card a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  background-color: var(--accent-bg);
  border: 1px solid var(--general-text);
  border-radius: 50%;
  cursor: auto;
}

/* =============================== */

.footer {
  background-color: var(--general-footer);
  color: var(--general-bg);
}

.footer__inner {
  display: grid;
  grid-template: 1fr / repeat(3, 1fr) auto;
  padding: 30px 0 60px;
}

.footer__col {
  max-width: 272px;
  display: flex;
  flex-direction: column;
}

.social {
  padding-top: 20px;
}

.social__list {
  display: flex;
  gap: 15px;
}

.social__link path {
  transition: var(--transition);
}

.social__link:hover path {
  fill: var(--accent-color);
}

.footer__list {
  max-width: 182px;
  padding-top: 30px;
}

.footer__link {
  display: block;
  padding: 5px 0;
  position: relative;
  z-index: 1;
} 

.footer__link::before {
  content: '';
  position: absolute;
  background-color: var(--accent-color);
  border-radius: 50%;
  top: -8px;
  left: -13px;
  z-index: -1;
  width: 34px;
  height: 34px;
  opacity: 0;
  transition: var(--transition);
}

.footer__link:hover::before {
  opacity: 1;
}

.footer__items {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer__geo {
  padding-top: 30px;
  display: grid;
  align-items: center;
  grid-template: repeat(2, 24px) / 24px 1fr;
  gap: 11px;
  max-width: 277px;
}

.footer__geo img:first-child {
  padding-left: 7%;
}

.geo__time {
  display: flex;
  gap: 8px;
}

.geo__adress {
  display: flex;
  gap: 8px;
}

.footer__number {
  padding-top: 30px;
  max-width: 220px;
  display: flex;
  flex-direction: column;
}

.footer__number a {
  font-size: 24px;
  transition: var(--transition);
}

.footer__number a:hover {
  color: var(--accent-color);
}

.copywright {
  display: flex;
  gap: 5px;
  align-items: center;
  color: rgba(222, 197, 177, 1);
  padding-top: 46px;
}

.footer__logo {
  width: 241px;
  height: 83px;
}

/* =============================== */

@media (max-width: 1200px) {
  
  h1 {
    font-size: 60px;
  }
  
  .hero {
    padding-top: 11px;
  }
  
  .hero__inner {
    justify-content: start;
  }
  
  .hero__content {
    margin-bottom: 5px;
  }
  
  .hero__date {
    font-size: 14px;
  }
  
  .hero__text {
    margin: 30px 0 35px;
  }
  
  .hero__img {
    margin: 0;
    max-width: 377px;
  }
  
  .hero__img-control {
    position: static;
    max-width: none;
    margin-top: 15px;
  }
  
  /* =============================== */
  
  .footer__inner {
    grid-template: repeat(2, 1fr) / repeat(2, 1fr);
    justify-items: center;
  }
  
  .footer__number {
    padding-top: 52px;
  }

}

@media (max-width: 900px) {
  
  .nav {
    background-color: var(--general-bg);
    position: fixed;
    inset: 0;
    z-index: 5; 
    padding: 26vh 15px 30px;
    font-size: 24px;
    transform: translateY(-50%);
    opacity: 0;
    visibility: hidden;
    transition: all .5s;
  }

  .nav__list {
    flex-direction: column;
    align-items: center;
  }

  .body--opened-menu .nav {
    transform: translateY(0%);
    opacity: 1;
    visibility: visible;
  }

  .burger-icon {
    display: flex;
  }
}

@media (max-width: 800px) {

  .hero {
    padding-top: 23px;
  }

  .hero__content {
    display: flex;
    margin-bottom: 5px;
    flex-direction: column;
    align-items: center;
  }

  .hero__inner {
    justify-content: center;
    text-align: center;
    padding-bottom: 100px;
  }

  .hero__title {
    margin-top: 0px;
  }

  .hero__img {
    width: 100%;
    display: none;
  }

  .hero__text {
    margin: 30px 0 15px;
  }

  .hero__content .hero__img-control {
    display: flex;
  }

  .hero__img-control {
    position: static;
    max-width: none;
    margin: 0 0 15px 0;
  }

  .hero__button {
    width: 358px;
  }

/* =============================== */

  .footer__inner {
    grid-template: repeat(3, 1fr) / 1fr 1fr;
    padding: 0 0 34px 0 ;
  }

  .footer__list {
    max-width: 212px;
    justify-self: end;
    padding-right: 25px;
  }

  .footer__items {
    align-items: end;
  }

  .footer__col {
    grid-area: 2 / 1 / 3 / 3;
    align-items: center;
  }

  .footer__geo {
    justify-self: start;
    padding-top: 35px;
    padding-left: 25px;
    max-width: 350px;
    row-gap: 15px;
  }

  .footer__number {
    grid-area: 3 / 1 / 4 / 3;
    align-items: center;
    padding-top: 20px;
  }

  .social {
    padding-top: 11px;
  }

  .copywright {
    padding-top: 9px;

  }

}

@media (max-width: 500px) {
  .hero__title {
    font-size: 10vw;
  }

  .hero__date {
    font-size: 3vw;
  }

  .header__logo {
    max-width: 27vw;
  }

  .hero__text {
    margin: 3vw 0 1vw;
  }

  .hero__content .hero__img-control {
    text-align: start;
  }

  .hero__button {
    max-width: 80vw;
  }

  .hero__img-control {
    gap: 5px;
    font-size: 14px;
  }

  .hero__img-button {
    width: 65px;
    height: 65px;
  }

  .hero__img-button img {
    width: 26px;
  }

/* =============================== */

  .footer__inner {
    grid-template: 1fr .7fr 1fr 1fr / 1fr;
  }

  .footer__number {
    grid-area: 4 / 1 / 5 / 3;
  }

  .footer__col {
    grid-area: 3 / 1 / 4 / 3;
  }

  .footer__geo {
    grid-area: 2 / 1 / 3 / 3;
    justify-self: center;
    padding-left: 0;
  }

  .footer__list {
    justify-self: center;
    padding-right: 0;
  }

  .footer__items {
    align-items: center;
  }

}

@media (max-width: 400px) {

  .hero__text {
    font-size: 4vw;
  }
}